body {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-family: 'Kanit', sans-serif;
}

#home, #about, #question {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

* {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #c4561b;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header h1 {
    font-size: 24px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* จัดชิดขวา */
    height: 100%; /* ปรับความสูงให้เต็มหน้าจอ */
}
/* ตกแต่งชื่อหัวข้อใหญ่ */
h1, h2, h4 {
    color: #FF5722;
}

/* ตกแต่งรายการ */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.container {
    display: flex; 
    justify-content: space-between; 
    align-items: auto;
    height: 60vh; 
}
.container .box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container .box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.container .box h4,
.container .box p {
    margin: 0;
}

.box {
    flex: 1; 
    padding: 20px;
    text-align: center;
    color:black;
}

/* ปรับขนาดรูปให้เล็กลง */
.box img {
    max-width: 100%;
    height: auto;
}

/* ปรับระยะห่างของข้อความ */
.box p {
    margin-top: 10px;
}

.container1 {
    display: flex; 
    justify-content: space-between; 
    align-items: auto;
    height: 60vh; 
    background-color: #615f5f;
}

.boxz {
    flex: 1; 
    padding: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.container2 {
    display: flex; 
    justify-content: space-between; 
    align-items: auto;
    height: 60vh; 
    background-color: #615f5f;
}

.boxy {
    flex: 1; 
    padding: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.service {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border: 1px solid #333;
}

.slider {
    position: relative;
    overflow: hidden;
    max-width: 20%;
    text-align: center;
  }
  
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
  
.slide {
    flex: 0 0 100%;
}
.slide p {
    text-align: center;
}
.slide img {
    max-width: 100%;
    height: auto;
    /*border: 1px solid #ccc;  เพิ่มเส้นขอบรอบรูป */
    display: block;
    margin: auto;
}
  
input[type="radio"] {
    display: none;
}
  
.slider-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
  
label {
    cursor: pointer;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: #888;
    margin: 0 5px;
    transition: background 0.3s;
}
  
input[type="radio"]:checked + label {
    background: #007BFF;
}
  
#slide1:checked ~ .slides {
    transform: translateX(0);
}
  
#slide2:checked ~ .slides {
    transform: translateX(-100%);
  }
  
#slide3:checked ~ .slides {
    transform: translateX(-200%);
  }

#slide4:checked ~ .slides {
    transform: translateX(-300%);
}
  
#slide5:checked ~ .slides {
    transform: translateX(-400%);
}
  
#slide6:checked ~ .slides {
    transform: translateX(-500%);
}

#slide7:checked ~ .slides {
    transform: translateX(-600%);
}
  
#slide8:checked ~ .slides {
    transform: translateX(-700%);
}
.slider-container {
    display: flex;
    justify-content: center;
}


.styled-table {
    border-collapse: collapse;
    width: 30%;
    border: 2px solid #333;
}

.styled-table th, .styled-table td {
    border: 2px solid #333;
    padding: 8px;
    text-align: center;
}

.styled-table th {
    background-color: #333;
    color: white;
}
header nav {
    display: flex;
    align-items: center;
}
nav a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: 1s;
}

nav a:hover {
    color: #FFC107;
}

nav a.active {
    color: rgb(255, 230, 0);
}
/* ตกแต่งส่วนที่เป็นเนื้อหาหลัก */
main {
    padding: 20px;
    background-color: #f9f9f9;
}
img {
    max-width: 100%;
    height: auto;
    /*border: 1px solid #ccc;  เพิ่มเส้นขอบรอบรูป */
    display: block;
    margin: auto;
}

footer {
    background-color: #c4561b;
    color: white;
    text-align: center;
    padding: 10px;

}
footer a {
    display: inline; /* ตั้งให้ลิงค์เป็น inline elements */
    margin: 0 10px; /* กำหนดระยะห่างระหว่างลิงค์ */
    font-size: 16px; /* ปรับขนาดข้อความลิงค์ตามต้องการ */
    color: white;
    text-decoration: none;
}
footer img {
    display: inline; /* ตั้งให้ภาพเป็น inline elements */
    vertical-align: middle; /* จัดตำแหน่งให้อยู่กลางแนวตั้ง */
    margin: 0; /* ลบระยะห่างระหว่างภาพ */
}

footer h4 {
    font-size: 20px;
}